/*Custom CSS*/
.wunderground {
    width: 100%;
}

.pimatic-wunderground .weather {
    width: 100%;
}

.pimatic-wunderground .col-1, .pimatic-wunderground .col-2 {
    width: 100%;
    float: left;
    height: auto;
    border-bottom: 2px solid #CCCCCC;
}

.pimatic-wunderground .icon, .pimatic-wunderground .aktuell, .pimatic-wunderground .forecast, .pimatic-wunderground .hum, .pimatic-wunderground .temp {
    float: left;
}

.pimatic-wunderground .icon {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: #007dcd;
    float: left;
    margin-top: 10px;
}

.pimatic-wunderground .aktuell {
    width: 75%;
}

.forecast > .caption, .aktuell > .caption {
    padding: 5px 0 0 0;
}

.pimatic-wunderground #temp, .pimatic-wunderground #hum, .pimatic-wunderground .unit {
    float: left;
    margin-top: 10px;
    height: 70px;
}

.pimatic-wunderground .aktuell, .pimatic-wunderground .forecast {
    white-space: normal;
    width: 75%;
    font-family: "Helvetica, Arial", sans-serif;
    font-size: 14px;
}

.pimatic-wunderground .forecast_str_style {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    float: left;
    margin-top: 3px;
    margin-bottom: 5px;
}

.pimatic-wunderground #temp_high, .pimatic-wunderground #temp_low {
    width: 25%;
    float: left;
}

.pimatic-wunderground .temp-style {
    height: 70px;
    /* background-color:#212121; */
    font-family: "Oswald", sans-serif;
    font-size: 34px;
    float: left;
    margin-top: 10px;
}

.pimatic-wunderground #weather_str {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.pimatic-wunderground #forecast_str {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
}

.pimatic-wunderground .temp, .pimatic-wunderground .hum, .pimatic-wunderground .temp_high, .pimatic-wunderground .temp_low {
    width: 30%;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    float: left;
    width: 30%;
}

.space {
    height: 4px;
}

.clear {
    clear: both;
}
